<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <title>Euuuuuuu</title>
</head>


<body>
    <form action="/add-candidados" method="POST">
        <label>NOME</label>
        <input type="text" name="nome"><br>

        <label>cargo</label>
        <input type="text" name="cargo"><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>

</html>